{% extends 'shipping/base.html' %}

{% block bodycontent %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div>
                <a href="{% url 'password_reset' %}">Forget Password</a>
            </div>
            <button type="submit">Log In</button>
        </form>
        
        <div>
            <br>
            Dont Have an Account
            <a href="{% url 'register-user' %}">Sign Up</a>
        </div>
    </div>
{% endblock bodycontent %}
    