{% extends 'shipping/base.html' %}

{% block bodycontent %}
        <!-- <form method="POST">
            {% csrf_token %}
            <h1>Reset your password.</h1> 
           <p> Drop in your email and we will send you a link to reset your password. </p>
            {{form.as_p}}
           
            <button type="submit">Request Reset Password</button>
        </form>    -->
        <form method="POST" class="py-2">
            {% csrf_token %}
            <div class="max-w-sm mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-lg font-semibold text-zinc-900">Reset your password.</h2>
                    <button class="text-zinc-600 hover:text-zinc-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <p class="text-sm text-zinc-600 mb-6">Drop in your email and we will send you a link to reset your password.</p>
                
                    <div class="mb-4">
                        <div class="flex items-center border-2 border-zinc-300 rounded-full p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-zinc-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5c0 3.038-2.462 5.5-5.5 5.5s-5.5-2.462-5.5-5.5S7.962 5 11 5s5.5 2.462 5.5 5.5z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 20.25a8.25 8.25 0 11-16.5 0 8.25 8.25 0 0116.5 0z" />
                            </svg>
                            <input type="email" name="email" placeholder="Enter your email" class="w-full pl-2 outline-none text-sm text-zinc-700 bg-transparent" required>
                        </div>
                    </div>
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-full">Reset my password</button>
            </div>
        </form> 
{% endblock bodycontent %}
    
